body {
    background-color: #370617;
    margin: 0;
    padding: 0;
    
}
/* Header  */
.navbar{
    height: 100px;
    
}
div ul li a:hover{
    border-bottom: 1.5px solid whitesmoke;
}
nav div a{
    margin-left: 5px;
}
.bi{
    color: #0d0d0d;
    font-size: 1.5em;
}
.bi-person-fill{
    font-size: 1.8em;
}
.cart-count{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
}
/* cart-icon{
    position: relative;
    display: inline-block;
} */
.badge{
    color: red;
    position:static;
    margin-left: -22px; 

}