<div class="container">
  <app-header></app-header>
  
</div>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
&nbsp;
<br>
<br>
<br>

<div class="selectionrange">
  <app-selections></app-selections>
</div>

<div class="productcontainer">
  <app-demoproducts></app-demoproducts>
</div>



<div class="footerelements">
  <app-footer></app-footer>
</div>