<body>
&nbsp;
<br>
&nbsp;
<br>
<h2>Our Vine De Table</h2>
    <div class="row">

        <div class="card col-md-3">
            <img src="../../assets/images/2.jpeg" class="img-fluid" alt=" ">
            <h3>RASA SYRAH</h3>
            <h6><i>FLAVOURS: Dark and red berries, vanilla, mocha, spices</i></h6>
            <p><strong><span style="color: rgb(247, 5, 5); text-decoration: line-through; opacity: 0.5;">$13,000</span>&nbsp;&nbsp;&nbsp;$12,100</strong></p>
            <a href="#"><i class="fa-regular fa-heart" style="margin-right: 200px;"></i><i class="fa-solid fa-share-nodes"></i></a>
            <button class="btn btn-primary" style="background-color: #b5545e; border-color: #b5545e;"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
        </div>

        <div class="card col-md-3">
            <img src="../../assets/images/5.jpeg" class="img-fluid" alt=" ">
            <h3>THE SOURCE GRENACHE ROSÉ</h3>
            <h6><i>Flavours: Citrus, tropical fruits and white peach</i></h6>
            <p><strong><span style="color: rgb(247, 5, 5); text-decoration: line-through; opacity: 0.5;">$13,400</span>&nbsp;&nbsp;&nbsp;$12,400</strong></p>
            <a href="#"><i class="fa-regular fa-heart" style="margin-right: 200px;"></i><i class="fa-solid fa-share-nodes"></i></a>
            <button class="btn btn-primary" style="background-color: #b5545e; border-color: #b5545e;"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
        </div>
        <div class="card col-md-3">
            <img src="../../assets/images/10.webp" class="img-fluid" alt=" ">
            <h3>DINDORI RESERVE VIOGNIER</h3>
            <h6><i>Flavours: Apricot, Peach, Lychee</i></h6>
            <p><strong><span style="color: rgb(247, 5, 5); text-decoration: line-through; opacity: 0.5;">$13,900</span>&nbsp;&nbsp;&nbsp;$12,900</strong></p>
            <a href="#"><i class="fa-regular fa-heart" style="margin-right: 200px;"></i><i class="fa-solid fa-share-nodes"></i></a>
            <button class="btn btn-primary" style="background-color: #b5545e; border-color: #b5545e;"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
        </div>
        <div class="card col-md-3">
            <img src="../../assets/images/14.webp" class="img-fluid" alt=" ">
            <h3>SULA BRUT</h3>
            <h6><i>Flavours: Aromas of apples & pears</i></h6>
            <p><strong><span style="color: rgb(247, 5, 5); text-decoration: line-through; opacity: 0.5;">$14,500</span>&nbsp;&nbsp;&nbsp;$13,500</strong></p>
            <a href="#"><i class="fa-regular fa-heart" style="margin-right: 200px;"></i><i class="fa-solid fa-share-nodes"></i></a>
            <button class="btn btn-primary" style="background-color: #b5545e; border-color: #b5545e;"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
        </div>
        <div class="card col-md-3">
            <img src="../../assets/images/15.webp" class="img-fluid" alt=" ">
            <h3>SULA SPARKLING SHIRAZ</h3>
            <h6><i>Flavours: Pomegranate, dark berries, spices,smoke.</i></h6>
            <p><strong><span style="color: rgb(247, 5, 5); text-decoration: line-through; opacity: 0.5;">$14,600</span>&nbsp;&nbsp;&nbsp;$13,600</strong></p>
            <a href="#"><i class="fa-regular fa-heart" style="margin-right: 200px;"></i><i class="fa-solid fa-share-nodes"></i></a>
            <button class="btn btn-primary" style="background-color: #b5545e; border-color: #b5545e;"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
        </div>
        <div class="card col-md-3">
            <img src="../../assets/images/18.webp" class="img-fluid" alt=" ">
            <h3>SULA ZINFADEL ROSE</h3>
            <h6><i>Flavours: Intense notes of citrus, cranberry & ripe fruits.</i></h6>
            <p><strong><span style="color: rgb(247, 5, 5); text-decoration: line-through; opacity: 0.5;">$14,700</span>&nbsp;&nbsp;&nbsp;$13,700</strong></p>
            <a href="#"><i class="fa-regular fa-heart" style="margin-right: 200px;"></i><i class="fa-solid fa-share-nodes"></i></a>
            <button class="btn btn-primary" style="background-color: #b5545e; border-color: #b5545e;"><i class="fa-solid fa-cart-shopping"></i> Add to Cart</button>
        </div>
    </div>
    <div class="button-container">
        <a href="productpage.html">
            <button class="btn btn-primary" style="background-color: #b5545e; border-color: white; border-radius: 5px;">
                <i class="fa-solid fa-eye"></i> View More
            </button>
        </a>
    </div>
</body>
    
